* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  margin: 0 auto;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
